[Unit]
Description=Day/night gamma adjustments
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/wlsunset -l 48.1 -L 11.5 -t 3500
Restart=on-failure

[Install]
WantedBy=graphical-session.target
