---
- name: enable user services
  systemd:
    name: "{{ item }}"
    enabled: yes
    scope: user
  loop:
    - "udiskie.service"
    - "waybar.service"
    - "waybar-updates.timer"
    - "sway-inactive-window-transparency.service"
    - "wlsunset.service"
    - "yubikey-touch-detector.socket"
    - "polkit-gnome.service"
    - "wl-clipboard-manager.service"
    - "sway-autoname-workspaces.service"
    - "playerctld.service"
    - "mako.service"
    - "systemd-tmpfiles-setup.service"
    - "battery-low-notify.service"

- name: install personal key and set trust level 5
  gpg_key:
    fpr: 7E2A21F965AD08B06B6924881C64943243A3151D
    keyserver: keys.openpgp.org
    trust: '5'

- name: install office key and set trust level 5
  gpg_key:
    file: "/run/media/aljaz/wrk-stick/work/gpg/office.gpg"
    trust: '5'

- name: creates Yubico dotfiles directory
  file:
    path: "{{ ansible_user_dir }}/.config/Yubico"
    state: directory

- name: check if Yubico dotfiles are present
  stat:
    path: "{{ ansible_user_dir }}/.config/Yubico/u2f_keys"
  register: yubico_key_status

- name: configuring YubiKey for passwordless sudo (touch it now)
  shell: "pamu2fcfg -u{{ ansible_user_id }} > {{ ansible_user_dir }}/.config/Yubico/u2f_keys"
  when: not yubico_key_status.stat.exists
